.post{
    display: grid;
    place-items: center;
    margin-top: 6em;
}

.card{
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 3.5em;
    box-shadow: 30px -20px 311px -70px rgba(255,255,255,0.69);
-webkit-box-shadow: 30px -20px 311px -70px rgba(255,255,255,0.69);
-moz-box-shadow: 30px -20px 311px -70px rgba(255,255,255,0.69);

}

.name{
    padding: 15px 0 5px 15px;
    font-weight: 650;
}
img{
    max-width: 100%;
    width: 550px;
    height: 500px;
    object-fit: contain;
}


.frow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trow{
    background-color: rgb(233, 233, 233);

}


.icon{
    padding-left: 20px;
}
.icon:hover{
    cursor: pointer;
    color: red;
}

.icon2{
    padding-right: 20px;
}

.icon2:hover{
    color: red;
}

@media all and (max-width:678px){
    img{
        width: 350px;
        height: 300px;
    }
}